* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --moderateviolet: hsl(263, 55%, 52%);
  --verydarkgrayishblue: hsl(217, 19%, 35%);
  --verydarkblackishblue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(0, 0%, 81%);
  --lightgrayishblue: hsl(210, 46%, 95%);
}

html,
body {
  background-color: var(--lightgrayishblue);
  border: 2px solid black;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
}

.main {
  padding: 10px;
  display: grid;
  justify-content: center;
  column-gap: 20px;
  row-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 220px);
  margin: auto;
  width: 80%;
  height: 80%;
  border: 2px solid red;
}

.card {
  padding: 10px;
  border-radius: 10px;
  /* height: 200px; */
  width: auto;
  /* border: 2px solid green; */
  font-family: "Barlow Semi Condensed";
}

.Daniel {
  position: relative;
  background-color: var(--moderateviolet);
  grid-column: 1/3;
}

.Jonathan {
  background-color: var(--verydarkgrayishblue);
  grid-column: 3/4;
}

.Jeanette {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: var(--white);
}

.Patrick {
  grid-column: 2/4;
  grid-row: 2/3;
  background-color: var(--verydarkblackishblue);
}

.Kira {
  grid-column: 4/5;
  grid-row: 1/3;
  background-color: var(--white);
}

.avatar-img {
  border: 2px solid red;
  width: 40px; /* Increase the width */
  border-radius: 50%;
  object-fit: cover; /* Ensure the image covers the area while maintaining aspect ratio */
}

.avatar-name {
  margin-left: 10px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
}

.avatar-div {
  display: flex;
  /* border: 1px solid black; */
  position: relative; /* Ensure the parent is positioned relatively */
}

.Daniel::after {
  content: "";
  position: absolute;
  top: 0px; /* Adjust as needed */
  /* left: 20px;  */
  right: 50px;
  width: 80px; /* Adjust as needed */
  height: 80px;
  background-image: url("testimonials-grid-section-main/images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.title{
  z-index: 3;
}